.connect-wallet-btn, .connect-twitter-btn{
    position: relative;
    background-color: #fff;
    text-align: left;
    margin: 10px 5px;
    display: block;
    padding: 10px 20px;
    width: 80%;
    border: 1px solid #6e6e6e;
    border-radius: 20px;
    outline: none;
}

.back-btn{
    font-size: 1.6em;
    letter-spacing: 1px;
    background-color: transparent;
    color: #fff;
     margin: 10px 5px;
    display: block;
    padding: 5px 20px;
    width: fit-content;
    border: 2px solid #6e6e6e;
    border-radius: 10px;
    outline: none;
}