@import '../../assets/Style/colors.scss';

@mixin distortText {
    text-shadow: 0.4389924193300864px 0 1px rgb(0 30 255 / 50%), -0.4389924193300864px 0 1px rgb(255 0 80 / 30%), 0 0 3px;
 }

.connect-wallet-btn, .connect-twitter-btn{
    position: relative;
    background-color: transparent;
    color: $text-orange-color;
    text-align: left;
    margin: 10px 5px;
    display: block;
    padding: 10px 20px;
    width: 100%;
    border: 1px solid $text-orange-color;
    border-radius: 20px;
    outline: none;
}


.back-btn{
    height: fit-content;
    background-color: transparent;
    cursor: pointer;
    color: $text-orange-color;
    outline: none;
    border: 1px solid $text-orange-color;
    z-index: 11;
    font-size: 1.2rem;
    padding: 0px 12px;
}

.enter-btn {
    @include distortText();
    background-color: transparent;
    cursor: pointer;
    color: $text-orange-color;
    outline: none;
    border: 1px solid $text-orange-color;
    z-index: 11;
    font-size: 1.2rem;
    padding: 0px 12px;
  }
