@import "../../assets/Style/colors.scss";

.levels-main {
  padding: 0 40px;
  padding-top: 5rem;
  width: 100%;
  height: 100%;
  color: $text-orange-color;

  .levels-container {
    width: 100%;
    height: 100%;

    .case-list-container {
      padding: 20px 0;
      width: 50%;
      height: fit-content;
      border-radius: 10px;

      .case-list-heading {
        font-size: 2rem;
        letter-spacing: 1px;
      }
      .case-list {
        text-align: left;
        padding: 0;
        max-width: 70%;
        li {
          font-size: 1.4em;
          letter-spacing: 1px;
          list-style: none;
          margin: 5px 0;
          padding: 10px 10px;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:hover {
            background-color: rgba(37, 35, 35, 0.6);
          }
        }
        .locked {
          color: #7e7e7e;
          background-color: rgba(37, 35, 35, 0.6);
          border: 1px solid #1d1d1d;

          .locked-icon {
            width: 20px;
            height: 20px;
          }
        }
        .unlocked {
          cursor: pointer;
          border: 1px solid $text-orange-color;
          .unlocked-icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
