.main-container {
  // position: relative;
  padding-top: 5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: center / 100% url("../../assets/Images/homePage/main-bg.jpg") no-repeat;

  .zoom {
    z-index: 100 !important;
    transition: transform 3s;
    -ms-transform: scale(10); /* IE 9 */
    -webkit-transform: scale(10); /* Safari 3-10 */
    transform: scale(10) translate(30px, 20px);
  }
}
