.main-container {

  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background: top / 100% url("../../assets/Images/homePage/shylock-main.svg") no-repeat;
  // background: top / 100% url('./assets/Images/shylock-bg.jpg') no-repeat;
overflow: hidden;
  
@media (max-width: 768px) {
  background: url("../../assets/Images/homePage/shylock-main.svg") no-repeat;
  background-size: cover;
}
  .gun{
    cursor: pointer;
    z-index: 2;
    width: 200px;
    height: 150px;
    position: absolute;
    top: 65%;
    left: 58%;
  }

  .newspaper{
    cursor: pointer;
    z-index: 2;
    width: 280px;
    height: 170px;
    position: absolute;
    bottom: 1%;
    left: 20%;
  }
  .ash-tray{
    cursor: pointer;
    z-index: 2;
    width: 170px;
    height: 161px;
    position: absolute;
    bottom: -0.1%;
    right: 32.5%;
    &:hover{
      transform: rotate(10deg);
    }
  }
  .cat{
    cursor: pointer;
    z-index: 2;
    width: 270px;
    height: 300px;
    position: absolute;
    bottom: 1%;
    left: 40%;
  }
  .computer{
    cursor: pointer;
    z-index: 2;
    width: 400px;
    height: 380px;
    position: absolute;
    top: 18%;
    left: 32%;
  }
  .telephone{
    cursor: pointer;
    z-index: 2;
    width: 240px;
    height: 200px;
    position: absolute;
    top: 52%;
    left: 11%;
  }


  
  .cigratte-smoke {
    position: fixed;
    top: 42%;
    left: 80%;
    width: 70px;
    height: 100px;
    opacity: 0;
    // smoke effect
    filter: blur(5px);
    transform-origin: 50% 50%;
    animation: smoke1 10s linear infinite;
    animation-delay: 1s;

    &:nth-of-type(2n) {
      animation-name: smoke1;
      animation-duration: 10s;
      animation-delay: 5s;
    }
  }

  .enter-btn{
    z-index: 3;
    font-size: 1.2em;
    padding: 0px 10px;
    position: absolute;
    top: 41%;
    right: 50%;
  }
}

@keyframes smoke1 {
  0% {
    filter: blur(1px);
    transform: translateY(-30px) scale(-1, 1.05);
    opacity: 0.8;
  }
  25% {
    filter: blur(2px);
    transform: translateY(-60px) scale(-1.2, 1.1);
    opacity: 0.8;
  }
  50% {
    filter: blur(3px);
    transform: translateY(-90px) scale(-1.5, 1.1);
    opacity: 0.6;
  }
  75% {
    filter: blur(4px);
    transform: translateY(-120px) scale(-1.7, 1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(5px);
    transform: translateY(-150px) scale(-1.9, 1.2);
    opacity: 0.3;
  }
}

// flame effect

$orange: rgb(255, 106, 0);
$red: rgb(255, 34, 0);
$yellow: rgb(255, 200, 0);
$blue: rgb(0, 55, 255);

.firepit {
  position: absolute;
  top: 30%;
  left: 81%;
  // background-image: url("../../assets/Images/smoke.png");
}
.fire {
  position: relative;
  width: 60px;
  height: 60px;
}

.spark {
  position: absolute;
  bottom: 46%;
  left: 15%;
  width: 3px;
  height: 3px;
  background-color: fade-out($orange, 0.3);
  opacity: 0;
  animation-name: fly-up-burnout-1;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;

  &:nth-of-type(2n) {
    animation-name: fly-up-burnout-2;
    animation-duration: 8.4s;
    animation-delay: 1s;
  }
  &:nth-of-type(3n) {
    animation-delay: 1.9s;
    animation-duration: 8s;
    left: 55%;
  }
  &:nth-of-type(4n) {
    animation-delay: 2.6s;
    animation-duration: 7s;
    left: 88%;
  }
  &:nth-of-type(5n) {
    animation-delay: 1.4s;
    animation-duration: 7s;
    left: 22%;
  }
  &:nth-of-type(6n) {
    animation-delay: 3.2s;
    left: 61%;
  }
}

@keyframes fly-up-burnout-1 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  33% {
    transform: translate(12px, -70px);
    opacity: 0.8;
  }

  66% {
    transform: translate(0, -140px);
    opacity: 0.6;
  }

  100% {
    transform: translate(6px, -200px);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-2 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  50% {
    transform: translate(-10px, -80px);
  }

  80% {
    transform: translate(-4px, -140px);
    opacity: 0.6;
  }

  100% {
    transform: translate(-6px, -160px);
    opacity: 0;
  }
}
