$bg-color: #0e0d0f;
.App {
  text-align: center;
  background-color: $bg-color;

  @media (max-width: 700px) {
  }
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

