@import './assets/Style/button.scss';

@font-face {
    font-family: Chomsky;
    src: url('./assets/fonts/Chomsky.otf');
}

body {
  margin: 0;
  font-family: Chomsky, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Chomsky, sans-serif;
}

.btn-logo{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.cursor-pointer{
  cursor: pointer;
}
.back-icon{
  width: 20px;
  height: 20px;
}